extends ./common/_layout.pug

block append vars
  - var htmlId = "index";

//- head周り
include ./elements/_head.pug

//- header
block header
  include ./elements/_header.pug
//- block header

//- メインコンテンツ
block content
  section#seec.cheo
    .seec-container
      .wow.fadeInUp(data-wow-delay="1s")
        h1 {{ language.seec_p1 }}
        h2 {{ language.seec_p2 }}
      .wow.fadeInUp(data-wow-delay="1s")
        a.btn-get-started(href='#about') {{ language.seec_p3 }}
  .clearfix
  section#about.cheo
    .container
      .title-main.wow.fadeInDown(data-wow-delay="0.2s")
        h2.text-primary {{ language.about }}
      .row
        .col-lg-7.wow.fadeInLeft(data-wow-delay="0.6s")
          .text-about
            p
              | {{ language.about_p1 }}
            p
              | {{ language.about_p2 }}
            p
              | {{ language.about_p3 }}
            p
              | {{ language.about_p4 }}
            p
              a(href='https://se-ec.co.jp/company/culture/') {{ language.readmore }}
        .col-lg-4.right.wow.fadeInRight(data-wow-delay="0.6s")
          figure.block-img-video-1.aos-init.aos-animate(data-aos='fade')
            a.popup-vimeo(href='https://vimeo.com/45830194')
              span.icon
                span.icon-play
              img.img-fluid(src='img/about.png', alt='Image')
  .clearfix
  section#services.cheo
    .container
      .title-main
        h2.wow.fadeInDown(data-wow-delay="0.2s")
          | {{ language.services }}
      .row
        .col-lg-4
          .item-services.wow.fadeInUp(data-wow-delay="0.2s")
            a.eff-shine(href='https://se-ec.co.jp/service/webadvertising/')
              figure.services-image
                img(src='https://se-ec.co.jp/assets/images/service01.jpg', alt='WEB & ADVERTISING')
              h3.services-item-title
                | {{ language.services_p1 }}
        .col-lg-4
          .item-services.wow.fadeInUp(data-wow-delay="0.4s")
            a.eff-shine(href='https://se-ec.co.jp/service/travelmedia/')
              figure.services-image
                img(src='https://se-ec.co.jp/assets/images/service02.jpg', alt='TRAVEL & MEDIA')
              h3.services-item-title
                | {{ language.services_p2 }}
        .col-lg-4
          .item-services.wow.fadeInUp(data-wow-delay="0.6s")
            a.eff-shine(href='https://se-ec.co.jp/service/appgame/')
              figure.services-image
                img(src='https://se-ec.co.jp/assets/images/service03.jpg', alt='APP & GAME')
              h3.services-item-title
                | {{ language.services_p3 }}
  //- ここまでseec
  .clearfix
  section#team
    .container
      .title-main
        h2.section-title.wow.fadeInDown(data-wow-delay="0.2s") {{ language.team }}
      .row
        .team-slider
          .col-lg-3
            .member.wow.zoomIn(data-wow-delay="0.2s")
              .pic
                img(src='img/team-1.jpg', alt='')
              h4 Walter White
              span Chief Executive Officer
          .col-lg-3
            .member.wow.zoomIn(data-wow-delay="0.2s")
              .pic
                img(src='img/team-1.jpg', alt='')
              h4 Walter White
              span Chief Executive Officer
          .col-lg-3
            .member.wow.zoomIn(data-wow-delay="0.2s")
              .pic
                img(src='img/team-1.jpg', alt='')
              h4 Sarah Jhinson
              span Product Manager
          .col-lg-3
            .member.wow.zoomIn(data-wow-delay="0.2s")
              .pic
                img(src='img/team-1.jpg', alt='')
              h4 William Anderson
              span CTO
          .col-lg-3
            .member.wow.zoomIn(data-wow-delay="0.2s")
              .pic
                img(src='img/team-1.jpg', alt='')
              h4 Amanda Jepson
              span Accountant
  //- ここまで
//- block content

//- footer
block footer
  include ./elements/_footer.pug
//- block footer

//- footer下のscript
block append script
//- block script
