.
  <?php
  session_start();

  $_SESSION['ticket'] = md5(uniqid() . mt_rand());
  if (!empty($_POST)) {
    foreach ($_POST['check'] as $checkKey => $check) {
      if (!empty($check)) {
        $_POST[$checkKey] = $check;
      } else {
        $ret = false;
      }
    }

    // スタイル
    if (isset($_POST['style']) && is_array($_POST['style'])) {
      $style = implode("\r\n", $_POST["style"]);
      $_POST['style'] = $style;
    } else {
      $_POST['style'] = "わからない";
    }

    unset ($_POST['check']);
    foreach ($_POST as $k => $v) {
      $postdata[$k] = htmlspecialchars($v);
      switch ($k) {
        case 'mail':
          if (!preg_match('/^[-+.\\w]+@[-a-z0-9]+(\\.[-a-z0-9]+)*\\.[a-z]{2,6}$/i', $v)) {
            $postdata[$k] = '正しいメールアドレスを入力してください。';
            $ret = false;
          }
        break;
        case 'tel':
          if (!preg_match('/^\d{2,4}(-)?\d{2,4}(-)?\d{3,4}$/', $v)) {
            $postdata[$k] = '正しい電話番号を入力してください。';
            $ret = false;
          }
        break;
      }
    }
  }
  ?>